/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for IDT Local/Remote Genomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
----------------------------------------------------------------------------------------
*/
// params {
//     genomes {
//         'IDT.hg38.local' {
//             bwamem2     = "${params.idt_base_local}/hg38/Sequences/GRCh38.p2/DNA/Primary_assembly/Bwa_Index/"
//             fasta       = "${params.idt_base_local}/hg38/Sequences/GRCh38.p2/DNA/Primary_assembly/Bwa_Index/hg38_primary.fa"
//             fasta_fai   = "${params.idt_base_local}/hg38/Sequences/GRCh38.p2/DNA/Primary_assembly/Bwa_Index/hg38_primary.fa.fai"
//             fasta_dict  = "${params.idt_base_local}/hg38/Sequences/GRCh38.p2/DNA/Primary_assembly/Bwa_Index/hg38_primary.dict"
//         }
//     }
// }
        
        
params {
    // illumina iGenomes reference file paths
    genomes {
        'IDT.hg19.remote' {
            fasta           = "${params.idt_base_remote}/Genomes/hg19/hg19_primary.fa"
            fasta_dict      = "${params.idt_base_remote}/Genomes/hg19/hg19_primary.dict"
            fasta_fai       = "${params.idt_base_remote}/Genomes/hg19/hg19_primary.fa.fai"
            bwamem2         = "${params.idt_base_remote}/BWA_Index/hg19/"
        }
    }
}